
.contact-container {
  padding: 30px;
  max-width: 1100px;
  top: 16vh;
  margin-left: 15%;
  /* margin-top: 10%; */
  /* margin: auto; */
  font-family: Arial, sans-serif;
  margin-bottom: 20rem;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #0d6efd;
}

/* Info box */
.contact-info {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-info p {
  margin: 8px 0;
  font-size: 16px;
}

/* Description */
.contact-description {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Map */
.map-container {
  padding-left: 5%;
  width: 100%;
  margin-bottom: 10vh;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

