/* Fixed footer */
.main-footer-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: #0a192e; /* Blue */
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  z-index: 1000;
}