.login-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assests/login2.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

/* Glass card */
.login-card {
  width: 380px;
  padding: 30px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  color: white;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Form layout */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: white;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(180deg, #ffca2c 0%, #ffb300 100%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
    0 4px 15px rgba(255, 193, 7, 0.3);

  color: #212529; 
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4),
    0 6px 20px rgba(255, 193, 7, 0.4);
}

.login-btn:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.95);
}
/* Toast */
#toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
